<p>Hello <%= @user.name %>,</p>

<p>Your QPaper account has been created successfully.</p>

<p>
  You can sign in here:
  <%= link_to "Open QPaper", @login_url %>
</p>

<p>If you did not create this account, please contact the administrator.</p>
